<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EntityManagerSOASoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="999999" maxBufferSize="999999" maxReceivedMessageSize="999999"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="9999990" maxStringContentLength="9999990"
            maxArrayLength="9999990" maxBytesPerRead="9999990" maxNameTableCharCount="9999990" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WorkflowEngineSOASoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="999999" maxBufferSize="999999" maxReceivedMessageSize="999999"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="9999990" maxStringContentLength="9999990"
            maxArrayLength="9999990" maxBytesPerRead="9999990" maxNameTableCharCount="9999990" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="QueryFormSOASoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="EntityManagerSOASoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="9999990" maxStringContentLength="9999990"
              maxArrayLength="9999990" maxBytesPerRead="9999990" maxNameTableCharCount="9999990" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="WorkflowEngineSOASoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="9999990" maxStringContentLength="9999990"
              maxArrayLength="9999990" maxBytesPerRead="9999990" maxNameTableCharCount="9999990" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
        <binding name="QueryFormSOASoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.100.70.24/prod_colpensiones/webservices/entitymanagersoa.asmx"
        binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap"
        contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
      <endpoint address="http://10.100.70.24/prod_colpensiones/webservices/entitymanagersoa.asmx"
        binding="customBinding" bindingConfiguration="EntityManagerSOASoap12"
        contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
      <endpoint address="http://10.100.70.24/prod_colpensiones/webservices/workflowenginesoa.asmx"
        binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap"
        contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
      <endpoint address="http://10.100.70.24/prod_colpensiones/webservices/workflowenginesoa.asmx"
        binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12"
        contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />
      <endpoint address="http://10.100.70.24/Prod_Colpensiones/webservices/QuerySOA.asmx"
        binding="basicHttpBinding" bindingConfiguration="QueryFormSOASoap"
        contract="CapaSOAQueryForm.QueryFormSOASoap" name="QueryFormSOASoap" />
      <endpoint address="http://10.100.70.24/Prod_Colpensiones/webservices/QuerySOA.asmx"
        binding="customBinding" bindingConfiguration="QueryFormSOASoap12"
        contract="CapaSOAQueryForm.QueryFormSOASoap" name="QueryFormSOASoap12" />
    </client>

    <!--


        <endpoint address="http://10.100.70.24/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
        <endpoint address="http://10.100.70.24/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
        <endpoint address="http://10.100.70.24/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
        <endpoint address="http://10.100.70.24/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />


     

<endpoint address="http://10.120.70.13/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
<endpoint address="http://10.120.70.13/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
<endpoint address="http://10.120.70.13/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
<endpoint address="http://10.120.70.13/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />
  
<endpoint address="http://10.130.70.56/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
<endpoint address="http://10.130.70.56/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
<endpoint address="http://10.130.70.56/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
<endpoint address="http://10.130.70.56/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />

<endpoint address="http://10.130.70.12/Colpensiones_prueba2/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
<endpoint address="http://10.130.70.12/Colpensiones_prueba2/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
<endpoint address="http://10.130.70.12/Colpensiones_prueba2/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
<endpoint address="http://10.130.70.12/Colpensiones_prueba2/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />

<endpoint address="http://10.130.70.16/Colp_desa/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
<endpoint address="http://10.130.70.16/Colp_desa/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
<endpoint address="http://10.130.70.16/Colp_desa/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
<endpoint address="http://10.130.70.16/Colp_desa/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />

<endpoint address="http://10.130.70.17/Prod_RequerimientosColpen/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
<endpoint address="http://10.130.70.17/Prod_RequerimientosColpen/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
<endpoint address="http://10.130.70.17/Prod_RequerimientosColpen/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
<endpoint address="http://10.130.70.17/Prod_RequerimientosColpen/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />

<endpoint address="http://10.100.70.23/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
<endpoint address="http://10.100.70.23/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
<endpoint address="http://10.100.70.23/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
<endpoint address="http://10.100.70.23/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />

<endpoint address="http://10.120.70.13/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
<endpoint address="http://10.120.70.13/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
<endpoint address="http://10.120.70.13/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
<endpoint address="http://10.120.70.13/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />
  
<endpoint address="http://10.120.70.11/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
<endpoint address="http://10.120.70.11/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
<endpoint address="http://10.120.70.11/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
<endpoint address="http://10.120.70.11/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />

<endpoint address="http://10.12.62.25/qa_colpensiones/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap"/>
<endpoint address="http://10.12.62.25/qa_colpensiones/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12"/>
<endpoint address="http://10.12.62.25/qa_colpensiones/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap"/>
<endpoint address="http://10.12.62.25/qa_colpensiones/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12"/>

<endpoint address="http://10.11.30.214/Colp_Desa/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
<endpoint address="http://10.11.30.214/Colp_Desa/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
<endpoint address="http://10.11.30.214/Colp_Desa/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
<endpoint address="http://10.11.30.214/Colp_Desa/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />    

<endpoint address="http://10.11.30.215/qa_colpensiones/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
<endpoint address="http://10.11.30.215/qa_colpensiones/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
<endpoint address="http://10.11.30.215/qa_colpensiones/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
<endpoint address="http://10.11.30.215/qa_colpensiones/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />

<endpoint address="http://10.11.30.52/qa_colpensiones/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
<endpoint address="http://10.11.30.52/qa_colpensiones/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
<endpoint address="http://10.11.30.52/qa_colpensiones/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
<endpoint address="http://10.11.30.52/qa_colpensiones/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />
          
<endpoint address="http://10.13.62.25/in_colpensiones/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap"/>
<endpoint address="http://10.13.62.25/in_colpensiones/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12"/>
<endpoint address="http://10.13.62.25/in_colpensiones/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap"/>
<endpoint address="http://10.13.62.25/in_colpensiones/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12"/>
      
<endpoint address="http://10.11.30.48/Colpensiones_Des/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap"/>            
<endpoint address="http://10.11.30.48/Colpensiones_Des/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12"/>                  
<endpoint address="http://10.11.30.48/Colpensiones_Des/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap"/>
<endpoint address="http://10.11.30.48/Colpensiones_Des/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12"/>
           
<endpoint address="http://10.11.30.48/Colp_Desa/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap"/>            
<endpoint address="http://10.11.30.48/Colp_Desa/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12"/>                  
<endpoint address="http://10.11.30.48/Colp_Desa/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap"/>
<endpoint address="http://10.11.30.48/Colp_Desa/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12"/>
          
<endpoint address="http://10.11.30.48/Colpensiones_prueba2/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap"/>            
<endpoint address="http://10.11.30.48/Colpensiones_prueba2/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12"/>                  
<endpoint address="http://10.11.30.48/Colpensiones_prueba2/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap"/>
<endpoint address="http://10.11.30.48/Colpensiones_prueba2/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12"/>
      
<endpoint address="http://10.11.30.48/Colpensiones_prueba3/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap"/>            
<endpoint address="http://10.11.30.48/Colpensiones_prueba3/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12"/>                  
<endpoint address="http://10.11.30.48/Colpensiones_prueba3/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap"/>
<endpoint address="http://10.11.30.48/Colpensiones_prueba3/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12"/>
          
<endpoint address="http://10.11.30.41/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap" />
<endpoint address="http://10.11.30.41/prod_colpensiones/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12" />
<endpoint address="http://10.11.30.41/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap" />
<endpoint address="http://10.11.30.41/prod_colpensiones/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12" />

<endpoint address="http://10.11.30.48/Colpensiones_prueba/webservices/entitymanagersoa.asmx" binding="basicHttpBinding" bindingConfiguration="EntityManagerSOASoap" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap"/>            
<endpoint address="http://10.11.30.48/Colpensiones_prueba/webservices/entitymanagersoa.asmx" binding="customBinding" bindingConfiguration="EntityManagerSOASoap12" contract="CapaSOABA.EntityManagerSOASoap" name="EntityManagerSOASoap12"/>                  
<endpoint address="http://10.11.30.48/Colpensiones_prueba/webservices/workflowenginesoa.asmx" binding="basicHttpBinding" bindingConfiguration="WorkflowEngineSOASoap" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap"/>
<endpoint address="http://10.11.30.48/Colpensiones_prueba/webservices/workflowenginesoa.asmx" binding="customBinding" bindingConfiguration="WorkflowEngineSOASoap12" contract="CapaSOABAWF.WorkflowEngineSOASoap" name="WorkflowEngineSOASoap12"/>

   -->


  </system.serviceModel>
  <connectionStrings>
    <add name="LiquidadorEntities" connectionString="metadata=res://*/BDLiquidador.csdl|res://*/BDLiquidador.ssdl|res://*/BDLiquidador.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.11.30.48;Initial Catalog=Liquidador;Persist Security Info=True;User ID=sa;Password=SysAdm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="EntitiesNewCallCenter" connectionString="metadata=res://*/EDMNewCallCenter.csdl|res://*/EDMNewCallCenter.ssdl|res://*/EDMNewCallCenter.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.11.30.214;Initial Catalog=2GJDummy;Persist Security Info=True;User ID=sa;Password=SysAdm1n;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="EntitiesColp" connectionString="metadata=res://*/ModeloBDColp.csdl|res://*/ModeloBDColp.ssdl|res://*/ModeloBDColp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.11.30.214;initial catalog=2GJDummy;user id=sa;password=SysAdm1n;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>

  </startup>
</configuration>
